<p id="notice"><%= notice %></p>

<h1>Listing Organizations</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_organizations.each do |admin_organization| %>
      <tr>
        <td><%= admin_organization.name %></td>
        <td><%= link_to 'Show', admin_organization_path(admin_organization) %></td>
        <td><%= link_to 'Edit', edit_admin_organization_path(admin_organization) %></td>
        <td><%= link_to 'Destroy', admin_organization_path(admin_organization), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_admin_organization_path %>
